
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>


<form action='@Url.Content("~/Users/SignUp")' method="post">
    Name:<input type="text" name="Name" id="Name1" required/><br>
    Login:<input type="text" name="Login1" id="Login1" required/><br>
    Password:<input type="password" name="Password1" id="Password1" required/><br>
    Confirm Password:<input type="password" name="Password2" id="Password2" required/><br>
    <button type="submit" name="Signup">Create</button>
</form>

<form action='@Url.Content("~/Users/Login")' method="get">
    Already a member!
    <button type="submit">Log In</button>
</form>