
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action='@Url.Content("~/Users/Login")' method="post">
    Login ID:<input type="text" name="Login" required /><br>
    Password:<input type="password" name="Password" required/><br>
    <button type="submit">Login</button><br>
    <span style="color:red;">@ViewBag.ErrorMsg</span>
</form>

